<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#fields">Fields</a></li>
            </ul>
            <form class="form-fields">
                <div class="fields-group">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" id="" placeholder="First Name">
                    </div>
                    <div class="action-links">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="fields-group">
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" id="" placeholder="Last Name">
                    </div>
                    <div class="action-links">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="fields-group">
                    <div class="form-group">
                        <label for="">Date of Birth</label>
                        <input type="date" class="form-control" id="" placeholder="Select Date">
                    </div>
                    <div class="action-links">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="fields-group">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <select class="form-control">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="action-links">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>


                <label for="">Roles</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Admin
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Student
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        User
                    </label>
                </div>


                <label for="" class="marginTop20">License Agreement</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="" value="option1" checked>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="" value="option2">
                        No
                    </label>
                </div>


                <div class="fields-group">
                    <div class="form-group">
                        <label for="" class="marginTop20">Add New Field:</label>
                        <select class="form-control">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio Buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="action-links">
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </form>
        </div>
    </div>
</div>
