@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html, body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #0073ff;
}
p {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
.btn, .nav-tabs>li>a, .navbar-toggle {
    border-radius: 0;
}
.navbar {
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding-right: 0;
    }
}
.navbar-brand {
    padding: 15px 30px;
    font-size: 24px;
}
.navbar-inverse .navbar-brand {
    color: #ddd;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: #0073ff;
}
.navbar-right {
    /*margin-right: 5px;*/
}
.navbar-nav > li > a {
    cursor: pointer;
}
.nav-sidebar > li > a {
    padding: 15px 30px;
}
.nav>li {
    letter-spacing: 0.5px;
}
.sidebar {
    top: 30px;
}
.nav-tabs>li>a {
    color: #555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #0073ff;
}
.main {
    padding: 15px 30px;
}
.admin .main .form-group {
    margin: 0;
}
.admin .main .form-control {
    border-radius: 0;
}
h1 {
    margin: 20px 0 40px;
}
.form-horizontal {
    margin-left: 3px;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border-radius: 0;
    height: 37px;
}
.glyphicon {
    font-size: 20px;
    top: 5px;
    margin: 0 10px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .glyphicon {
        margin: 0 3px;
    }
}
@media screen and (max-width: 550px) {
    .glyphicon {
        font-size: 16px;
    }
}
.glyphicon-triangle-bottom {
    top: 1px;
    font-size: 12px;
    margin-right: 10px;
}
.form-fields {
    margin-top: 30px;
}
.form-fields .fields-group {
    display: block;
}
.form-group {
    display: inline-block;
    width: 65%;
    margin-right: 10px;
}
@media screen and (max-width: 480px) {
    .container-fluid {
        padding: 0 5px;
    }
    .form-group {
        margin-right: 3px;
    }
}
.action-links {
    display: inline-block;
}
.action-links .glyphicon {
    margin: 0 5px 0 10px;
}
@media screen and (max-width: 600px) {
    .action-links .glyphicon {
        margin: 0 5px 0 5px;
    }
}
@media screen and (max-width: 480px) {
    .action-links .glyphicon {
        margin: 0 2px 0 2px;
    }
}
.marginTop20 {
    margin-top: 20px;
}
select.form-control {
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
}

.fields .action-links {
    margin-top: 54px;
}
.fields .action-links .glyphicon {
    margin: 0;
}
.fields .form-group {
    width: 100%;
}
