@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html, body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #0073ff;
}
p {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
h1 {
    font-size: 30px;
}
.btn, .nav-tabs>li>a, .navbar-toggle {
    border-radius: 0;
}
.navbar {
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding-right: 0;
    }
}
.navbar-brand {
    padding: 15px 30px;
    font-size: 22px;
}
.navbar-inverse .navbar-brand {
    color: #ddd;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: #0073ff;
}
.navbar-right {
    /*margin-right: 5px;*/
}
.navbar-nav > li > a {
    cursor: pointer;
}
.nav-sidebar > li > a {
    padding: 15px 30px;
}
.nav>li {
    letter-spacing: 0.5px;
}
.sidebar {
    top: 30px;
}
.nav-tabs>li>a {
    color: #555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #0073ff;
}
.main {
    padding: 15px 30px;
}
.admin .main .form-group {
    margin: 0;
}
.admin .main .form-control {
    border-radius: 0;
}
h1 {
    margin: 20px 0 40px;
}
.form-horizontal {
    margin-left: 3px;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border-radius: 0;
    height: 35px;
}
.glyphicon {
    font-size: 17px;
    top: 5px;
    margin: 0 5px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .glyphicon {
        margin: 0 3px;
    }
}
@media screen and (max-width: 550px) {
    .glyphicon {
        font-size: 16px;
    }
}
.glyphicon-triangle-bottom {
    top: 1px;
    font-size: 12px;
    margin-right: 10px;
}
.form-fields {
    margin-top: 30px;
}
.form-fields .fields-group {
    display: block;
}
.form-group {
    display: inline-block;
    width: 65%;
    margin-right: 10px;
}
@media screen and (max-width: 480px) {
    .container-fluid {
        padding: 0 5px;
    }
    .form-group {
        margin-right: 3px;
    }
}
.action-links {
    display: inline-block;
}
.action-links .glyphicon {
    margin: 0 5px 0 10px;
}
@media screen and (max-width: 600px) {
    .action-links .glyphicon {
        margin: 0 5px 0 5px;
    }
}
@media screen and (max-width: 480px) {
    .action-links .glyphicon {
        margin: 0 2px 0 2px;
    }
}
.marginTop20 {
    margin-top: 20px;
}
select.form-control {
    border: 0;
    outline: 1px solid #CCC;
    background-color: #fff;
    height: 33px;
    top: 1px;

}


.fields .form-group {
    width: 100%;
    margin: 0;
}
.fields .form-fields {
    margin: 0;
}
.fields .fields-label {
    display: block;
}
.fields button {
    padding: 6px 10px;
}
.fields .glyphicon {
    margin: 0;
    top: 3px;
}
.fields .action-links {
    margin-top: 20px;
}
.fields .action-links .glyphicon {
    margin: 0;
}
.fields .addField {
    height: 35px;
    margin-top: -1px;
}
.fields .table>tbody>tr>td {
    padding-bottom: 20px;
    /*border: 1px solid #ddd;*/
    border: none;
}
.fields .btn-default {
    /*background: #0073ff;*/
}


.modal-content {
    border-radius: 0;
}
.modal-header .close {
    font-size: 30px;
    margin-top: -5px;
    padding: 0;
}
.modal-body h3 {
    margin: 0 0 25px;
}

.optionsBox {
    display: none;
}
