<div ng-controller="DashboardController" class="dashboard col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main dashboard">
    <h1>Dashboard<br><p class="dashboard-welcome">Welcome back, <strong>{{currentUser.firstName}}</strong>!</p></h1>

    <!-- <div ng-show="currentUser" class="pull-right search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
        </div>
    </div> -->

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default schedule-panel">
                <div class="panel-heading"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Schedule <span class="text-muted">| Spring 2016 Semester</span></div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default schedule-panel">
                <div class="panel-heading"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Something</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                        <a href="#" class="list-group-item">Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'views/header/help-modal.html'"></div>

</div>
