<div ng-controller="CoursesController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main courses">
            <h1>Courses</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#/courses">Courses</a>
                </li>
                <li role="presentation">
                    <a href="#/fields">Fields</a>
                </li>
            </ul>
            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Course Number</th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Course Title</th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Course Instructor</th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input ng-model="course.number" type="text" class="course-control" placeholder="Number"></td>
                        <td><input ng-model="course.title" type="text" class="course-control" placeholder="Name"></td>
                        <td><input ng-model="course.instructor" type="text" class="course-control" placeholder="Instructor"></td>
                        <td>
                            <a ng-click="addCourse(course)">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <a ng-click="updateCourse()">
                                <i class="fa fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="course in courses">
                        <td>
                            <a href="#/fields">{{course.number}}</a>
                        </td>
                        <td>
                            <a href="#/fields">{{course.title}}</a>
                        </td>
                        <td>
                            <a href="#/fields">{{course.instructor}}</a>
                        </td>
                        <td>
                            <a ng-click="deleteCourse($index)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            <a ng-click="selectCourse($index)">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
