@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #ef283f;
}
.btn, .nav-tabs>li>a, .navbar-toggle {
    border-radius: 0;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    padding: 15px 30px;
    font-size: 28px;
}
.navbar-inverse .navbar-brand {
    color: #ddd;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: #ef283f;
}
.navbar-right {
    margin-right: 5px;
}
.nav-sidebar > li > a {
    padding: 20px 30px;
}
.nav>li {
    letter-spacing: 0.5px;
}
.sidebar {
    top: 50px;
}
.nav-tabs>li>a {
    color: #555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ef283f;
}
.main {
    padding: 40px 30px;
}
.admin .main .form-group {
    margin: 0;
}
.admin .main .form-control {
    border-radius: 0;
}
h1 {
    margin: 20px 0 40px;
}
.form-horizontal {
    margin-left: 3px;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-group {
    margin-bottom: 30px;
}
.form-control {
    border-radius: 0;
    height: 37px;
}
.glyphicon {
    font-size: 20px;
    top: 5px;
    margin: 0 10px;
}
.glyphicon-triangle-bottom {
    top: 1px;
    font-size: 12px;
    margin-right: 10px;
}
.form-fields {
    margin-top: 30px;
}
.form-fields .fields-group {
    display: block;
}
.form-fields .form-group {
    display: inline-block;
    width: 75%;
    margin-right: 10px;
}
.action-links {
    display: inline-block;
}
.action-links .glyphicon {
    margin: 0 5px 0 10px;
}
.marginTop20 {
    margin-top: 20px;
}
select.form-control {
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
}
