@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
html, body {
    font-family: 'Open Sans', sans-serif;
}
.intro-bg {
    background: url(../../images/hbp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro .intro-panel {
    background: rgba(255, 255, 255, 0.7);
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 40px 30px;
}
#intro .intro-panel h1, #intro .intro-panel h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 auto 10px;
}
#intro .intro-panel h1 {
    letter-spacing: 1px;
}
#intro .intro-panel h2 {
    font-size: 16px;
    color: #555;
}
#intro .intro-links {
    margin: 0 auto;
}
#intro .intro-panel ul {
    margin: 50px auto;
    padding: 0 20px;
}
#intro .intro-panel ul li {
    display: inline-block;
    vertical-align: middle;
}
#intro .intro-panel ul li .fa {
    font-size: 45px;
    padding: 0 20px;
}
#intro .intro-panel ul li > span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 550px) {
    #intro .intro-panel {
        width: 85%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #intro .intro-panel h1 {
        font-size: 36px;
    }
    #intro .intro-panel ul li .fa {
        font-size: 36px;
        padding: 0 20px;
    }
}
@media screen and (max-width: 480px) {
    #intro .intro-panel h1 {
        font-size: 28px;
    }
    #intro .intro-panel p {
        font-size: 16px;
    }
    #intro .intro-panel ul {
        padding: 0;
    }
    #intro .intro-panel ul li .fa {
        padding: 0 15px;
    }
}
@media screen and (max-width: 400px) {
    #intro .intro-panel ul {
        margin: 15px auto;
    }
    #intro .intro-panel ul li .fa {
        font-size: 30px;
    }
    #intro .intro-panel ul li span {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    #intro .intro-panel ul li .fa {
        padding: 0 10px;
    }
}



a {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #ef283f;
}
p {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}
.btn, .nav-tabs>li>a, .navbar-toggle {
    border-radius: 0;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding-right: 0;
    }
}
.navbar-brand {
    padding: 15px 30px;
    font-size: 28px;
}
.navbar-inverse .navbar-brand {
    color: #ddd;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: #ef283f;
}
.navbar-right {
    /*margin-right: 5px;*/
}
.nav-sidebar > li > a {
    padding: 15px 30px;
}
.nav>li {
    letter-spacing: 0.5px;
}
.sidebar {
    top: 40px;
}
.nav-tabs>li>a {
    color: #555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ef283f;
}
.main {
    padding: 40px 30px;
}
.admin .main .form-group {
    margin: 0;
}
.admin .main .form-control {
    border-radius: 0;
}
h1 {
    margin: 20px 0 40px;
}
.form-horizontal {
    margin-left: 3px;
}
.form-horizontal .control-label {
    text-align: left;
}
.form-group {
    margin-bottom: 30px;
}
.form-control {
    border-radius: 0;
    height: 37px;
}
.glyphicon {
    font-size: 20px;
    top: 5px;
    margin: 0 10px;
}
@media screen and (max-width: 768px) {
    .glyphicon {
        margin: 0 3px;
    }
}
@media screen and (max-width: 550px) {
    .glyphicon {
        font-size: 16px;
    }
}
.glyphicon-triangle-bottom {
    top: 1px;
    font-size: 12px;
    margin-right: 10px;
}
.form-fields {
    margin-top: 30px;
}
.form-fields .fields-group {
    display: block;
}
.form-fields .form-group {
    display: inline-block;
    width: 75%;
    margin-right: 10px;
}
.action-links {
    display: inline-block;
}
.action-links .glyphicon {
    margin: 0 5px 0 10px;
}
.marginTop20 {
    margin-top: 20px;
}
select.form-control {
    border: 0;
    outline: 1px solid #CCC;
    background-color: white;
}
