@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a {
    color: #333;
}
a:hover {
    color: #555;
}
.intro-bg {
    background: url(../../images/hbp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro .intro-panel {
    background: rgba(255, 255, 255, 0.7);
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 40px 30px;
}
#intro .intro-panel h1, #intro .intro-panel h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto 10px;
}
#intro .intro-panel h1 {
    letter-spacing: 1px;
}
#intro .intro-panel h2 {
    font-size: 16px;
    color: #555;
}
#intro .intro-links {
    margin: 0 auto;
}
#intro .intro-panel ul {
    margin: 50px auto;
    padding: 0 20px;
}
#intro .intro-panel ul li {
    display: inline-block;
    vertical-align: middle;
}
#intro .intro-panel ul li .fa {
    font-size: 45px;
    padding: 0 20px;
}
#intro .intro-panel ul li > span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 550px) {
    #intro .intro-panel {
        width: 85%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #intro .intro-panel h1 {
        font-size: 36px;
    }
    #intro .intro-panel ul li .fa {
        font-size: 36px;
        padding: 0 20px;
    }
}
@media screen and (max-width: 480px) {
    #intro .intro-panel h1 {
        font-size: 28px;
    }
    #intro .intro-panel p {
        font-size: 16px;
    }
    #intro .intro-panel ul {
        padding: 0;
    }
    #intro .intro-panel ul li .fa {
        padding: 0 15px;
    }
}
@media screen and (max-width: 400px) {
    #intro .intro-panel ul {
        margin: 15px auto;
    }
    #intro .intro-panel ul li .fa {
        font-size: 30px;
    }
    #intro .intro-panel ul li span {
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    #intro .intro-panel ul li .fa {
        padding: 0 10px;
    }
}
