<div ng-controller="AdminController" class="container-fluid admin">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Admin</h1>

            <br><br>

            <h3>Users</h3>
            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>First Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Last Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Role</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Username">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Password">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="First Name">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Last Name">
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>User</option>
                                    <option>Admin</option>
                                    <option>Student</option>
                                    <option>Faculty</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-plus"></span>Add</a>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Update</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td></td>
                        <td>Student</td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td></td>
                        <td>Faculty | Admin</td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Charlie</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
