<div ng-controller="SavedController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main saved">
            <h1>Saved Courses</h1>

            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>
                            <a ng-click="orderByField='subject'; reverseSort = !reverseSort">Subject
                                <span ng-show="orderByField == 'subject'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='number'; reverseSort = !reverseSort">Number
                                <span ng-show="orderByField == 'number'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a ng-click="orderByField='title'; reverseSort = !reverseSort">Title
                                <span ng-show="orderByField == 'title'">
                                    <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                    <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                </span>
                            </a>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses|orderBy:orderByField:reverseSort">
                        <td>
                            <a href="#">{{course.subject}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.number}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.title}}</a>
                        </td>
                        <td class="table-nowrap">
                            <a ng-click="addCourseToSchedule(course)">
                                <i class="fa fa-calendar-plus-o"></i>
                            </a>
                            <a ng-click="saveCourse(course)">
                                <i class="fa fa-star"></i>
                            </a>
                            <a ng-click="selectCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a ng-click="deleteCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-include="'views/header/help-modal.html'"></div>
</div>
