<div ng-controller="SavedController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main courses">
            <h1>Saved Courses</h1>

            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Subject<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>Course #<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>Title<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses">
                        <td>
                            <a href="#">{{course.subject}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.number}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.title}}</a>
                        </td>
                        <td class="table-nowrap">
                            <a ng-click="addCourseToSchedule(course)">
                                <i class="fa fa-calendar-plus-o"></i>
                            </a>
                            <a ng-click="saveCourse(course)">
                                <i class="fa fa-star"></i>
                            </a>
                            <a ng-click="selectCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a ng-click="deleteCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-include="'views/header/help-modal.html'"></div>
</div>
