<div ng-controller="CourseController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main courses">
            <h1>Courses</h1>
            <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>

            <!-- <div ng-show="currentUser" class="pull-right search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div> -->

            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Subject<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>#<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>Title<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-show="currentUser.roles.indexOf('admin') >= 0">
                            <input ng-model="course.subject" type="text" class="course-control" placeholder="Subject">
                        </td>
                        <td ng-show="currentUser.roles.indexOf('admin') >= 0">
                            <input ng-model="course.number" type="text" class="course-control" placeholder="0000">
                        </td>
                        <td ng-show="currentUser.roles.indexOf('admin') >= 0">
                            <input ng-model="course.title" type="text" class="course-control" placeholder="Name">
                        </td>
                        <td ng-show="currentUser.roles.indexOf('admin') >= 0">
                            <a ng-click="addCourse(course)">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <a ng-click="updateCourse()">
                                <i class="fa fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="course in courses">
                        <td>
                            <a href="#">{{course.subject}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.number}}</a>
                        </td>
                        <td>
                            <a href="#">{{course.title}}</a>
                        </td>
                        <td class="table-nowrap">
                            <a ng-click="addCourseToSchedule(course)">
                                <i class="fa fa-calendar-plus-o"></i>
                            </a>
                            <a ng-click="model.saveCourse(course)">
                                <i class="fa fa-star-o"></i>
                            </a>
                            <a ng-click="selectCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a ng-click="deleteCourse($index)" ng-show="currentUser.roles.indexOf('admin') >= 0">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-include="'views/header/help-modal.html'"></div>
</div>
