<div class="modal fade" id="helpModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to CourseSource!</h4>
            </div>
            <div class="modal-body">
                <p>CourseSource is your #1 web resource for browsing, searching, and choosing courses at Northeastern.</p>
                <p>Navigate through CourseSource by clicking the links on the left sidebar. Students can view courses, favorite courses, and view the details and prereqs for each course. Admins and faculty can add, update, and delete users as well as view and favorite courses.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
